body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

#header {
  margin-top: 0.5em;
}

#calculator {
  border: 1px solid black;
  height: 30em;
  width: 30em;
  display: flex;
  flex-direction: column;
}
#display-cont {
  flex: 1;
  padding: 1em;
  font-size: 2em;
  overflow-wrap: break-word;
  text-align: center;
}
#btn-cont {
  display: flex;
}
#btn-cont > .column {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#btn-cont > .column > * {
  flex: 1;
}
button {
  font-size: 3em;
  background-color: 36454f;
  color: black;
}
button.operator,
button.calcFunction,
button.sign {
  color: brown;
}

#clear,
#erase {
  font-size: 2em;
}
